.recommendedvideos {
    /* means 80%  */
    /* we want sidebar to take 20% and recommended videos to take 80% */
    flex:0.8; 
    background-color: #f9f9f9;
    padding: 40px 20px;
    padding-bottom: 0;
}
.recommendedvideos_video {
    display: flex;
    flex-wrap: wrap;
}
@media (max-width:768px) {
    .recommendedvideos{
flex:0.9;
padding-bottom: 5px;
margin-top: 16px;
 box-sizing: border-box;
     background-color: #f9f9f9;
    padding: 40px 20px;
    padding-bottom: 0;
    }
    .recommendedvideos_video {
        display: flex;
        flex-wrap: wrap;
        
    }
    .recommendedvideos > h1 {
        margin-top:4px;
        margin-bottom: 7px;
    }
 }