.recommendedvideos {
    /* means 80%  */
    /* we want sidebar to take 20% and recommended videos to take 80% */
    flex:0.8; 
    background-color: #f9f9f9;
    padding: 40px 20px;
    padding-bottom: 0;
}
.recommendedvideos_video {
    display: flex;
    flex-wrap: wrap;
}
@media (min-width:280px)and (max-width:768px) {
    .recommendedvideos{
flex: 1;
 }
    .recommendedvideos_video {
        display:flex;
        flex-direction: column;
       }
    .recommendedvideos > h1 {
        display: none;
    }
 }